<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户关系管理系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrapValidator.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/bootstrapValidator.js"></script>
</head>
<body>
<h2 class="text-center">客户关系管理系统</h2>
<div style="padding: 100px 100px 10px;">
    <form class="bs-example bs-example-form" role="form" id="myForm" action="/login">
        <div class="input-group form-group">
            <span class="input-group-addon">客户姓名</span>
            <input name="custmerName" type="text" class="form-control">
        </div><br>
        <div class="input-group form-group">
            <span class="input-group-addon">交易事项</span>
            <input name="transName" type="text" class="form-control">
        </div><br>

        <div class="input-group form-group">
            <span class="input-group-addon">交易备注</span>
            <input name="remark" type="text" class="form-control">
        </div><br>
        <button type="submit"  class="btn btn-success" id="aa">提交记录</button>
    </form>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框
                </h4>
            </div>
            <div class="modal-body" id="modal-body">
                点击关闭按钮关闭此窗体。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#myForm')
            .bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    custmerName: {
                        message: 'The customerName is not valid',
                        validators: {
                            notEmpty: {
                                message: '客户姓名不能为空'
                            }
                        }
                    },
                    transName: {
                        validators: {
                            notEmpty: {
                                message: '交易事项不能为空'
                            }
                        }
                    }
                }
            })
            .on('success.form.bv', function(e) {
                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');

                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function(data) {
                    var msg;
                    if (data) {
                        msg="成功"
                    }else {
                        msg="系统发生错误，请重试";
                    }

                    $("#modal-body").html(msg);
                    $('#myModal').modal('show');//打开模态框

                }, 'json');
            });
    });
</script>
</body>
</html>